body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: url("https://media.istockphoto.com/photos/blank-recipe-book-picture-id872828932?k=6&m=872828932&s=170667a&w=0&h=jyefDCXvimbmhllrRFZa6V5FYtvp3bmE9LZUiRvJ0uI="); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
